header {
    width: 100%;
    height: 16vh;
    background: linear-gradient(90deg, rgba(13,5,144,1) 0%, rgba(109,177,231,1) 18%, rgba(0,146,255,1) 100%);
    border: 0.5vh solid #000;
    position: fixed;
}
body {
    margin: 0 auto;
    background-color: rgb(13, 190, 190);
    overflow-x: hidden;
}
footer {
    width: 100%;
    height: 40vh;
    background: linear-gradient(90deg, rgba(13,5,144,1) 0%, rgba(109,177,231,1) 53%, rgba(0,146,255,1) 100%);;
    border: 0.5vh solid #000;
    display: flex;
    align-items: center;
}
.educ {
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.644);
}
.navbar {
    display: flex;
    width: 100%;
    background-color: aqua;
    height: 4vh;
    position: absolute;
    bottom: 0;
    border: 0.3vh solid #000;
}
header img {
    height: 13vh;
    margin-left: 2vh;
    display: block;
}
.navbar button {
    width: 100%;
    cursor: pointer;
    background-color: rgb(21, 173, 148);
    border: 0.3vh solid #000;
    font-size: 2vh;
    transition-duration: 0.1s;
}
.navbar button:hover {
    background-color: rgb(36, 161, 120);
}
.navbar button:active {
    background-color: rgb(30, 116, 87);
}
footer img {
    height: 23vh;
    margin: 0 auto;
    background-color: rgb(24, 24, 134);
    border-radius: 30vh;
    padding: 2vh;
    border: 0.3vh solid #000;
    display: block;
}